
.widget div.wpcf7 {
	padding: 0;
	border: none;
}

	.wpcf7-form .row:not(:last-child) { margin-bottom: 15px; }

	.wpcf7-display-none { display: none; }

	.vc_row-has-fill .wpcf7 input:not([type="submit"]),
	.vc_row-has-fill .wpcf7 textarea,
	.vc_row-has-fill .wpcf7 select {
		background-color: #fff;
	}
	
	.wpcf7 textarea { height: 140px; }

	.wpcf7 select {
		width: 100%;
		color: #858585;
		border-radius: 20px;
		height: 45px;
		padding: 5px 25px;
		border: 1px solid #858585;
		background-color: #fff;
		background-image: url('../../../images/select-arrow.png');
		background-position: 98% center;
		background-repeat: no-repeat;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: box-shadow .35s ease, border-color .35s ease;
		transition: box-shadow .35s ease, border-color .35s ease;
		-webkit-appearance: none;
		   -moz-appearance: none;
				appearance: none;
	}

	.wpcf7-submit {
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 0 !important;
		letter-spacing: 1px;
		text-align: center;
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		color: #fff;
		background-color: #f05a21;
		font-family: 'Poppins', sans-serif;
		border-radius: 30px;
		padding: 10px 30px 8px;
		-webkit-box-shadow: 0px 5px 25px 0px rgba(240, 90, 33, 0.35);
		-moz-box-shadow: 0px 5px 25px 0px rgba(240, 90, 33, 0.35);
		box-shadow: 0px 5px 25px 0px rgba(240, 90, 33, 0.35);
		-webkit-transition: all .4s ease;
       transition: all .4s ease;
	}

	.wpcf7-submit:hover {
		color: #fff;
		box-shadow: none!important;
		-webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
	}

	.vc_col-sm-4 .wpcf7-submit {
		float: none;
		width: 100%;
	}

	.vc_col-sm-8 .wpcf7-submit {
		float: none;
		margin: 25px auto 0;
		display: block;
	}

	.wpcf7 input[type="checkbox"], .wpcf7-list-item input[type="radio"] {
    display: inline;
    padding: 0;
    height: 34px;
    width: 34px;
    position: absolute;
    opacity: 0;
    z-index: 1000;
    padding: 1px 0 1px 50px;
}
.wpcf7 input[type="checkbox"] + span {
    padding-left: 50px;
	padding-top: 4px;
    position: relative;
    cursor: pointer;
	line-height: 34px;
}

.wpcf7  .wpcf7-radio .wpcf7-list-item  .wpcf7-list-item-label + input[type="radio"] {
	-webkit-appearance: radio;
    opacity: 1;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
	width: 18px;
    height: 22px;
	cursor: pointer;
}
.wpcf7  input[type="radio"] + span {
    padding-left: 30px;
	padding-top: 4px;
    position: relative;
    cursor: pointer;
	line-height: 34px;
}
.wpcf7 input[type="checkbox"] + span::before{
	content: "";
    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    left: 0;
    background: #fff;
    border: 2px solid #f3f3f3;
    border-radius: 3px;
}

.wpcf7 input[type="radio"] + span::before{

	content:"";

	display:block;

	width:18px;

	height:18px;

	position:absolute;

	left:0;

	background:#fff;

	border:2px solid #ccc;

}

.wpcf7 input[type="checkbox"] + span::before{

	top:0px;

}

.wpcf7 input[type="radio"] + span::before{

	top: calc(50% - 9px);

}

.wpcf7 input[type="radio"] + span::after,

.wpcf7 input[type="checkbox"] + span::after{

	position:absolute;

	visibility: hidden;

}

.wpcf7 input[type="radio"] + span::after, .wpcf7 input[type="radio"] + span::before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
	
.wpcf7 input[type="checkbox"] + span::after{
	content: '\e854';
    font-family: 'fontello';
    line-height: 34px;
    top: 0;
    color: #333;
    font-size: 16px;
    position: absolute;
    left: 8px;
}

.wpcf7 input[type="radio"] + span::after{
    content: "";
    width: 10px;
    height: 10px;
    left: 4px;
    top: calc(50% - 5px);
    background: #ccc;
}

.wpcf7 input[type="radio"]:checked + span::after,

.wpcf7 input[type="checkbox"]:checked + span::after{

	opacity:1;

	visibility: visible;

}	
	
span.wpcf7-list-item {
    margin-left: 0;
    margin-right: 1em;
    display: block;
	margin-bottom: 10px; 
}	
	
 .widget .wpcf7-response-output{
    position: absolute;
}
.widget .wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
    margin-top: 5px;
}
.widget span.wpcf7-not-valid-tip {
    position: absolute;
    left: 30px;
    font-size: 12px;
    top: 0;
}

.wpcf7-form input:not([type="submit"]), .wpcf7-form textarea {
    border: 1px solid #e8e8e8;
}

.wpcf7 .wpcf7-acceptance input[type="checkbox"] {
    display: inline;
    height: 24px;
    width: 24px;
    opacity: 1;
    -webkit-appearance: checkbox;
	margin-right: 15px;
	padding-bottom: 0;
    margin-bottom: 0;
}
.wpcf7 .wpcf7-form-control.wpcf7-acceptance {
    min-width: 24px;
    display: inline-block;
    min-height: 24px;
    margin-right: 15px;
}
	
	@media only screen and ( max-width: 767px ) {

		.wpcf7 {
			padding-left: 15px;
			padding-right: 15px;
		}

	}